.header-home
    display: block
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 99

    > .link > .selfie
        width: 125px
        height: 125px
        margin-bottom: 25px
        border-radius: 100%
        transition: all .2s
        opacity: 1

        &:hover
            box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15)
            opacity: .8

    > .title
        font-size: 4rem
        margin: 0 0 13px

    > .description
        font-size: 1.85rem
        font-weight: $thin-font
        font-style: normal
        color: $gama
        width: 70%
        margin: 0 auto 30px

        // if you put some links in your bio. ;)
        a
            font-weight: 200

.about-image
    width: 45%
    height: 45%
    border-radius: 40%
    transition: all .2s
    opacity: 1

.container 
    display: flex
    flex-wrap: wrap
    gap: 5px
    

.container p
    background: #222;
    width: max-content;
    display: inline-block;
    padding: 0px 20px;
    border-radius: 20px;
    font-size: 1.5rem;
